

// FONT
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
$font-quicksand: 'Quicksand', sans-serif;

// PADDING

$contentWidth: 1200px;
$auto-padding-5: 5px max(2rem, 50vw - $contentWidth / 2);

// BORDER RADIUS

$border-radius-05: 5px;
$border-radius-10: 10px;
$border-radius-50: 50px;
$border-radius-100: 100px;

// COLORS

$text-color: #fefefe;
$secondary-color: #93B795;
$background-color: #FFFDEC;

// TRANSITIONS

$transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);