.map {
  width: 100%; /* Πιάνει όλο το πλάτος του γονέα */
  height: 100%; /* Πιάνει όλο το ύψος του γονέα */
  border: 3px solid #93B795; 
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Σκιά για εμφάνιση */
  overflow: hidden; /* Απόκρυψη περιεχομένου που βγαίνει έξω */
}

#map {
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

@media (max-width: 768px) {
  .map {
    border-radius: 10px; /* Στρογγυλεμένες γωνίες για μικρές οθόνες */
  }
}