.form-container {
  padding: 20px;
  border-radius: 8px;
  /*box-shadow: 0 2px 4px rgba(0,0,0, 0.1);*/
  /*max-width: 80vw;*/
  /*maring: 200px auto;*/
  margin: 200px auto;
  gap: 1rem;
  width: 500px;
}

.form-control {
  border-top: none;
  border-right: none;
  margin-bottom: 10px;
  border-radius: 0px 0px 0px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-file-upload {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px 0px 0px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.custom-file-upload .btn-secondary {
  margin: 0;
  padding: 5px 10px;
  height: fit-content;
}


.custom-file-upload #fileName {
  margin-left: 10px;
  margin-bottom: 0;
  padding: 0;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-secondary {
  background-color: #93B795;
  color: #fefefe;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
}

#addBusiness {
  justify-content: center;
}

.form-control:focus {
  box-shadow: none;
  border-color: #93B795;
}

.custom-file-upload label.tb {
  margin: 0;
}

/* Stilizare pentru Toastify */
.Toastify__toast {
    font-family: 'Roboto', sans-serif;  /* sau alt font dorit */
    font-size: 14px;
    font-weight: 500;
}

.Toastify__toast--error {
    background: #fff;
    color: #dc3545;
    border: 1px solid #dc3545;
    font-family: inherit;
}

.Toastify__toast--success {
    background: #fff;
    color: #93B795;
    border: 1px solid #93B795;
    font-family: inherit;
}

.Toastify__toast-container--bottom-right {
    bottom: 3em !important;
    right: 2em !important;
}
