<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>business_design</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <form class="form-container"><input class="form-control" type="text" id="bName" placeholder="Name"><input class="form-control" type="text" id="bDescription" placeholder="Description"><input class="form-control" type="text" id="bCountry" placeholder="Country"><input class="form-control" type="text" id="bCity" placeholder="City"><input class="form-control" type="text" id="bStreet" placeholder="Street"><input class="form-control" type="number" id="bStreetNo" placeholder="Street number"><input class="form-control" type="text" id="bPostalCode" placeholder="Postal code">   <div class="custom-file-upload">
     <input type="file" id="fileInput" style="display: none;">
     <label for="fileInput" class="btn btn-secondary">Choose File</label>
     <span id="fileName">No file chosen</span>
   </div><button class="btn d-xl-flex btn-secondary" id="addBusiness" type="Submit">Add</button></form>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/form.js"></script>
</body>

</html>